@import '../../../utils/_responsive';
@import '../../../utils/_units';
@import '../../../utils/theme';


.home {
    display: flex;
    flex-direction: column;
    width: auto;

    &.blur {
        filter: blur(4px); 
        .panel-profile {
            @include desktop {
                opacity: 0;
            }
        }

        .panel-experience {
            @include mobile {
                opacity: 0;
            }
            @include desktop {
                width: 100%;
                transition: all 1500ms ease;
            }
            position: relative;
            filter: blur(10px);
            
        }
    }

    &.animate {
        .panel-profile {
            transition: all 1500ms ease 800ms;
            opacity: 1;
        }
        .panel-experience {
            @include mobile {
                transition: all 1500ms ease 800ms;
                opacity: 1;
            }
        }
        .skills-percentage {
            .skill {
                &::before {
                    display: block;
                    content: "";
                    height: 10px;
                    width: 30%;
                    background-color: $theme-2;
                    position: absolute;
                    bottom: $unit-small - 5px;
                    z-index: 2;
                }
                &::after { 
                    display: block;  
                    content: "";
                    position: relative;
                    top: 5px;
                    height: 10px;
                    width: 100%;
                    background-color: $theme-3;
                    z-index: 0;
                }
                $time: 1500ms;
                &:nth-child(1)::before {width:70%;animation: skill_1 $time ease;}
                &:nth-child(2)::before {width:80%;animation: skill_2 $time ease;} 
                &:nth-child(3)::before {width:70%;animation: skill_3 $time ease;}
                &:nth-child(4)::before {width:80%;animation: skill_4 $time ease;}
                &:nth-child(5)::before {width:55%;animation: skill_5 $time ease;}
                &:nth-child(6)::before {width:60%;animation: skill_6 $time ease;}
                &:nth-child(7)::before {width:35%;animation: skill_7 $time ease;}
            }
            @keyframes skill_1 {from {width:0%;}to {width:70%;}}
            @keyframes skill_2 {from {width:0%;}to {width:80%;}}
            @keyframes skill_3 {from {width:0%;}to {width:70%;}}
            @keyframes skill_4 {from {width:0%;}to {width:80%;}}
            @keyframes skill_5 {from {width:0%;}to {width:55%;}}  
            @keyframes skill_6 {from {width:0%;}to {width:60%;}}
            @keyframes skill_7 {from {width:0%;}to {width:35%;}}
        }
    }
    
    @include desktop {
        flex-direction: row;
        height: calc(100vh - #{$unit-large} * 2);
    }
    .section {
        padding: $unit-large;
    }
    
    .panel-profile {
        background-color: $theme-1;
        color:black;
        height: 100%;
        @include desktop {
            width: 40%;
        }

        .profile-header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            .profile-pic {
                border-radius : 50%;
                height: 140px;
                width: 140px;
                margin: $unit-default;
                object-fit: cover;
            }
    
            .title {
                color: $theme-3;
                font-size: 2rem;
                text-transform: uppercase;
            }
        }

        .profile-content {
            .contact {
                .contact-info {
                    max-width: 400px;
                    display:flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    .type {
                        margin-right: auto;
                    }
                    .data {
                    }
                }
            }
            
            .blurb {
    
            }
    
            .social {
                height:100px;
                width:100%;
                top:85%;
                display:flex;
                justify-content:center;
                white-space:nowrap;
                flex: flex-end;
                .link {
                    margin: 14px;
                    display:inline-block;
                }
                .icon {
                    width:50px;
                    height:50px;
                    border-radius: 50%;
                    background-size: 55%;
                    background-position: center center;

                    &:hover{
                        transition: all .3s ease;
                        background-color: $theme-2;
                        box-shadow: 0px 3px 3px 0px $theme-2;
                        transform: translateY(-5px);
                    }
                }
            }
        }
    } 

    .panel-experience {
        @include desktop {
            transition: all 1200ms ease;
        }
        
        background-color:$theme-5;
        color: white;
        display: flex;
        flex-direction: column;
        
        @include desktop {
            width: 60%;
            min-height: 100%;
            overflow-y: auto;
            position: relative;
            right: 0;
        }
        .title {
            color: $theme-2;
            text-transform: uppercase;
        }
        .experience-row {
            padding: $unit-default 0;
            padding-bottom: 0;
            .oppurtunity {
                padding: $unit-default 0;
                .company-wrapper {
                    padding: $unit-small 0;
                    display: flex;
                    flex-direction :row;
                    .company {
                    }
                    .role {
                        margin: 0 $unit-small;
                    }
                }
                .description-wrapper {
                    padding: $unit-small 0;
                    display: flex;
                    flex-direction :row;
                    .timeline {
                    }
                    .description {
                        margin: 0 $unit-small;
                    }
                }
            }
        }
        .skill-row {
            display: flex;
            flex-direction: row;
            height: auto;
            padding: $unit-default 0;
            @include mobile {
                flex-wrap: wrap;
            }
            .skills {
                padding: $unit-default;
                padding-left: 0;
                width: 40%;
                @include mobile {
                    padding: $unit-default 0;
                    width: 100%;
                }
                
                .skills-percentage {
                    list-style-type: none;
                    padding: 0;
                    .skill {
                        width: 100%;
                        position: relative;
                        padding: $unit-small 0;
                    }
                }
            }
            .hobbies {
                padding: $unit-default;
                padding-right: 0;
                width: 60%;
                @include mobile {
                    padding: $unit-default 0;
                    width: 100%;
                }
                .description {
                    margin-top: 1.2em;
                }
            }
        }
    }
}
