@import '../../../utils/_responsive';
@import '../../../utils/_units';
@import '../../../utils/theme';

.cover {
    height: 100%;
    width: 100%;
    background-color: rgba(28, 28, 32, 0.95);
    z-index: 50;
    position: fixed;
    top: 0;
    bottom: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    
    .title {
        color: $theme-3;
        font-size: 4rem;
        text-transform: uppercase;
    }
   
    &.show {
        display: flex;
        opacity: 1;
        transition: all 750ms  ease;
    }

    &.hide { 
        visibility: hidden;
        opacity: 0;
        transition: all 650ms  ease;
        animation: fade_out 650ms  ease;
    }

    .background {
        // background: url(../../../static/images/0.jpg) no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.13;
        z-index: 1;
    }

    .profile-pic {
        position: relative;
        padding: $unit-large;
        border-radius : 50%;
        height: 400px;
        width: 400px;
        margin: $unit-default;
        z-index: 3;
        object-fit: cover;
    }
}

@keyframes fade_out {
   from {opacity: 1;}
   to {opacity: 0;}
}
