@import '../../../utils/_responsive';
@import '../../../utils/_units';
@import '../../../utils/theme';

.cover {
    height: 100%;
    width: 100%;
    background-color: rgba(28, 28, 32, 0.9);
    z-index: 50;
    position: fixed;
    top: 0;
    bottom: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    &.show {
        display: flex;
    }

    .title {
        color: $theme-3;
        font-size: 4rem;
        text-transform: uppercase;
    }

    &.hide { 
        display: none;
    }

    .background {
        background: url(http://placekitten.com/2000/2000) no-repeat;
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.1;
        z-index: 1;
    }

    .profile-pic {
        position: relative;
        padding: $unit-large;
        border-radius : 50%;
        height: 400px;
        width: 400px;
        margin: $unit-default;
        z-index: 3;
    }
}
